*{
  font-family: 'Josefin sans', sans-serif;
  /*background-color: #bfae99;*/

}
body {
  color: black;
  margin: 0;
  padding: 0;
  background-image:url(../img/donuts.jpg);
  background-attachment: fixed;
}
.nav-btn {
  border-radius: 20px;
  color: #4c3718;
  width: 19%;
  background-color: #bfae99;
}
.nav {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  text-align: center;
  position: fixed;
}
.nav ul {
  width: 100%;
  list-style: none;
  text-align: center;
  display: inline;
  padding: 0;
}

.nav li {
  line-height: 40px;
  text-align: center;
  height: 40px;
  border-bottom: 2px solid #4c3718;
}
.nav a {
  text-decoration: none;
  color: #ea63ca;
  display: block;
  transition: .9s background-color;
}
.nav a:hover {
  position: relative;
  background-color: mintCream;
  height:40px;
  border: 5px solid #4c3718;
  border-radius: 20px;
}
.nav a:active {
  background-color: #4c3718;
  color: cyan;
  cursor: nw-resize;
  border: 5px solid #bfae99;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 19%;
    text-align: center;
    background-color: #4c3718;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
    margin-right: 0;
  }

.tables{
  position: relative;
  top: 175px;
  max-width: 95%
}

#donut_table {
  border-radius:15px;
  float: right;
  position: relative;
  max-width: 60%;
  margin-right: 20px;
  background-color: #bfae99;
}
h1 {
  font-size: 2em;
  padding: 20px;
  text-align: center;
  border-collapse: collapse;
  border: 5px solid #4c3718;
  border-radius: 40px;
  background-color: pink;

}
th {

  font-size: 1em;
  background-color: #bf2a97;
  padding: 8px 20px;
  font-weight: bold;
  border-collapse: separate;
  border: 1px solid #4c3718;
  border-radius: 10px;
  color: pink;
}
tbody tr:nth-child(odd) {
   background-color: #ccc;
}
tbody td:nth-child(even) {
   background-color: pink;
}
tr:nth-child(odd) {
   background-color: #ccc;
}
tr:nth-child(even) {
   background-color: pink;
}
tr,td {

  border-radius: 10px;
  font-size: .9em;
  border: 1px solid black;
  text-align: center;
  padding: 2px 5px;
}
tr {
  font-size: 1em;
}

section {
  position: relative;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  top: 15px;

}
article {
  text-align:left;
  padding: 3px;
  background-color: #bfae99;
  border: 3px solid #4c3718;
  border-radius: 20px;
  float: left;
  position: inherit;
}
p {
  margin: 3px;
  float: right;
}

fieldset {
  border: 3px solid #4c3718;
  border-radius: 15px;
  font-size: 1em;
  max-width: 30%;
  float: left;
  margin-left: 10px;
  background-color: #bfae99;
}
.form {
  padding: 10px;
}
input,button {
  background-color: pink;
}
legend {
  color: pink;
  margin-top: 10px;
  border: 3px #4c3718 solid;
  background-color: #bf2a97;
  border-radius: 5px;
  padding:5px;
}

@keyframes slide {
   0% {
    left: 0px;
    top: 0px;

  }
  25% {
    left: 488px;
    top: -100px;
    -webkit-transform: rotateZ(90deg);
    -webkit-transform: rotateY(180deg);
  }
  50%{
    left: 0px;
    top: 0px;
    -webkit-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(-90deg);
  }
  75% {
    left: -488px;
    top: -100px;
    -webkit-transform: rotateZ(270deg)
  }
  100% {
    left: 0px;
    top: 0px;
    -webkit-transform: rotateZ(360deg)
  }
/*  .rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}*/
}
.stage {
  height: 250px;
  position: relative;
  min-width: 538px;
  margin-top: 200px;
}
.stage:hover {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: repeat;
}
.donatsu {
  margin-top: 55px;
  float: left;
  margin-left: 42%;
  position: inherit;;;;;
}
